Source: {{{name}}}
Section: {{{section}}}
Priority: {{{priority}}}
Maintainer: {{{mantainer}}}
Standards-Version: 4.5.0
Package: {{{name}}}
Architecture: {{{arch}}}
Version: {{{version}}}
Depends: {{{depends}}}
Suggests: calamares
Conflicts: calamares-settings-debian, calamares-settings-ubuntu
Description: {{{description}}}
 Penguins-eggs-legacy is a versatile remastering tool that allows users to create
 custom live ISO images. It supports multiple Linux distributions, including
 Alpine, Arch, Debian, Devuan, Fedora, Manjaro, Opensuse, Ubuntu, and derivatives.
 